QuarantineJam/obj
QuarantineJam/.vs
QuarantineJam/bin
QuarantineJam/obj
QuarantineJam/obj/x86/Debug/QuarantineJam.csprojAssemblyReference.cache
QuarantineJam/.vs/QuarantineJam/v16/.suo
QuarantineJam/.vs
QuarantineJam/Content/bin
QuarantineJam/Content/obj
QuarantineJam/bin/Windows/x86/Debug
